title

/* Reset Browsers
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
    display: block;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--white); //change
}

body::-webkit-scrollbar {
    display: none;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: none;
}

a img {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    max-width: 100%;
}

/* General
-------------------------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-family: $font-main;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--on-suface-container);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

p {
    font-weight: 400; //change
    font-size: 16px;
    line-height: 26px;
}

strong,
b,
cite {
    font-weight: bold;
}

dfn,
cite,
em,
i,
blockquote {
    font-style: italic;
}

abbr,
acronym {
    border-bottom: 1px dotted #e0e0e0;
    cursor: help;
}

.btn-link:focus,
.btn-link:hover,
mark,
ins {
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

address {
    font-style: italic;
    margin: 0 0 20px;
}

code,
kbd,
tt,
var,
samp,
pre {
    margin: 20px 0;
    padding: 4px 12px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    overflow-x: auto;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    border-radius: 0;
    height: auto;
}

svg,
svg path {
    @include transition3();
}

/* Elements
-------------------------------------------------------------- */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    margin-bottom: 20px;
    border: dashed 1px #ccc;
}

/* List */

ul,
ol {
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul li,
ol li {
    padding: 0;
}

dl,
dd {
    margin: 0 0 20px;
}

dt {
    font-weight: bold;
}

del,
.disable {
    text-decoration: line-through;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* Table */

table,
th,
td {
    border: 1px solid #343444;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 30px;
    table-layout: fixed;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 8px 12px;
}

/* Media */

embed,
object,
video {
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
}

p>embed,
p>iframe,
p>object,
p>video {
    margin-bottom: 0;
}

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
}

input[type="checkbox"] {
    display: inline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    vertical-align: sub;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Remove chrome yellow autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}

/* Reset search styling */
input[type="search"] {
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Placeholder color */
::-webkit-input-placeholder {
    color: #171412;
}

::-moz-placeholder {
    color: #171412;
    opacity: 1;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
    color: #171412;
}

/* Typography
-------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font-main;
    color: var(--on-suface-container);
    margin: 0;
    text-rendering: optimizeLegibility;
}

h1,
.h1 {
    font-size: 70px;
    line-height: 70px !important;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 55px;
    line-height: 65px !important;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 45px;
    line-height: 55px !important;
    font-weight: 700;
}

h4,
.h4 {
    font-size: 35px;
    line-height: 45px !important;
    font-weight: 700;
}

h5,
.h5 {
    font-size: 30px;
    line-height: 70px !important;
    font-weight: 700;
}

h6,
.h6 {
    font-size: 22px;
    line-height: 30px !important;
    font-weight: 700;
}

/* link style
-------------------------------------------------------------- */
a {
    text-decoration: none;
    color: var(--secondary);
    cursor: pointer;
    @include transition3;

    &:hover,
    &:focus {
        color: var(--primary); //change
        outline: 0;
        @include transition3;
    }
}

/* tf-container
-------------------------------------------------------------- */
.tf-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
    width: 100%;

    .row {
        margin-left: -15px !important;
        margin-right: -15px !important;

        >* {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }

    &.w-1440 {
        max-width: 1440px;
    }

    &.w-1528 {
        max-width: 1528px;
    }

    &.w-1540 {
        max-width: 1540px;
    }

    &.w-1564 {
        max-width: 1564px;
    }

    &.w-1568 {
        max-width: 1568px;
    }

    &.w-1600 {
        max-width: 1600px;
    }

    &.w-1650 {
        max-width: 1650px;
    }

    &.w-1794 {
        max-width: 1794px;
    }

    &.w-1800 {
        max-width: 1800px;
    }

    &.w-1806 {
        max-width: 1806px;
    }

    &.w-1808 {
        max-width: 1808px;
    }

    &.w-1810 {
        max-width: 1810px;
    }

    &.w-1830 {
        max-width: 1830px;
    }

    &.w-1870 {
        max-width: 1870px;
    }

    &.w-1890 {
        max-width: 1890px;
    }

    &.full {
        max-width: 100vw;
    }


}

/* Extra classes
-------------------------------------------------------------- */

.hidden {
    display: none;
}

.block {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed !important;
}

.position-unset {
    position: unset !important;
}

.z-5 {
    z-index: 5;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.w-1530 {
    max-width: 1530px !important;
    width: 100%;
}

.w-1560 {
    max-width: 1560px !important;
    width: 100%;
}

.w-full {
    max-width: 100% !important;
    width: 100%;
}

.fw5 {
    font-weight: 500 !important;
}

.fw6 {
    font-weight: 600 !important;
}

.fw7 {
    font-weight: 700 !important;
}

.fw8 {
    font-weight: 800 !important;
}

.body-3 {
    font-size: 20px;
    line-height: 30px;
}

.body-2 {
    font-size: 18px;
    line-height: 30px;
}

.caption-1 {
    font-size: 14px;
    line-height: 26px;
}

.text-btn {
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.color-primary {
    color: var(--primary) !important;
}

.color-white {
    color: var(--white) !important;
}

.color-secondary {
    color: var(--secondary) !important;
}

.color-text {
    color: var(--color-text) !important;
}

.color-text-2 {
    color: var(--color-text-2) !important;

}

.color-text-3 {
    color: var(--color-text-3) !important;
}

.color-text-title-2 {
    color: var(--color-text-title-2) !important;
}

.color-blue {
    color: var(--blue) !important;
}

.color-line-4 {
    color: var(--line-4) !important;
}

.bg-color-white {
    background-color: var(--white) !important;
}

.bg-color-secondary {
    background-color: var(--secondary) !important;
}

.bg-color-primary {
    background-color: var(--primary) !important;
}

.bg-color-2 {
    background-color: var(--color-bg-2) !important;
}

.bg-color-12 {
    background-color: var(--color-bg-12) !important;
}

.lsp-0 {
    letter-spacing: 0 !important;
}

.lsp-1 {
    letter-spacing: 1px !important;
}

.lsp-2 {
    letter-spacing: 2px !important;
}

.pb-31 {
    padding-bottom: 31px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-69 {
    padding-bottom: 69px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-100 {
    font-size: 100px !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-66 {
    margin-top: 66px;
}

.mt-77 {
    margin-top: 77px !important;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-9 {
    margin-bottom: 9px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mb-19 {
    margin-bottom: 19px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-21 {
    margin-bottom: 21px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-23 {
    margin-bottom: 23px !important;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-26 {
    margin-bottom: 26px !important;
}

.mb-27 {
    margin-bottom: 27px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

.mb-29 {
    margin-bottom: 29px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-31 {
    margin-bottom: 31px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-33 {
    margin-bottom: 33px;
}

.mb-34 {
    margin-bottom: 34px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-37 {
    margin-bottom: 37px !important;
}

.mb-38 {
    margin-bottom: 38px !important;
}

.mb-39 {
    margin-bottom: 39px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-41 {
    margin-bottom: 41px !important;
}

.mb-42 {
    margin-bottom: 42px !important;
}

.mb-43 {
    margin-bottom: 43px !important;
}

.mb-44 {
    margin-bottom: 44px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-47 {
    margin-bottom: 47px !important;
}

.mb-49 {
    margin-bottom: 49px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-52 {
    margin-bottom: 52px !important;
}

.mb-53 {
    margin-bottom: 53px !important;
}

.mb-54 {
    margin-bottom: 54px !important;
}

.mb-55 {
    margin-bottom: 55px !important;
}

.mb-56 {
    margin-bottom: 56px !important;
}

.mb-57 {
    margin-bottom: 57px !important;
}

.mb-58 {
    margin-bottom: 58px !important;
}

.mb-59 {
    margin-bottom: 59px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-62 {
    margin-bottom: 62px !important;
}

.mb-63 {
    margin-bottom: 63px !important;
}

.mb-64 {
    margin-bottom: 64px !important;
}

.mb-67 {
    margin-bottom: 67px !important;
}

.mb-69 {
    margin-bottom: 69px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-86 {
    margin-bottom: 86px !important;
}

.mb-89 {
    margin-bottom: 89px !important;
}

.mb-93 {
    margin-bottom: 93px !important;
}

.gap-10 {
    gap: 10px !important;
}

.gap-11 {
    gap: 11px !important;
}

.gap-15 {
    gap: 15px !important;
}

.gap-20 {
    gap: 20px !important;
}

.gap-30 {
    gap: 30px !important;
}

.gap-36 {
    gap: 36px !important;
}

.gap-40 {
    gap: 40px !important;
}

.gap-43 {
    gap: 43px !important;
}

.gap-56 {
    gap: 56px !important;
}

.gap-68 {
    gap: 68px !important;
}

.gap-70 {
    gap: 70px !important;
}

.gap-77 {
    gap: 77px;
}

.gap-89 {
    gap: 30px;
}


.gap-98 {
    gap: 30px;
}

.gap-105 {
    gap: 105px;
}

.gap-167 {
    gap: 167px;
}

.rg-7 {
    row-gap: 7px !important;
}

.rg-20 {
    row-gap: 20px !important;
}


.rg-30 {
    row-gap: 30px !important;
}

.rg-45 {
    row-gap: 45px;
}

.rg-49 {
    row-gap: 49px;
}

.rg-50 {
    row-gap: 50px;
}

.rg-57 {
    row-gap: 57px !important;
}

.rg-64 {
    row-gap: 64px !important;
}

.rg-70 {
    row-gap: 70px !important;
}

.rg-77 {
    row-gap: 77px !important;
}

.pr-80 {
    padding-right: 30px !important;
}