.map-1 {
    max-width: 100%;
    height: 301px;
    overflow: hidden;

    .marker {
        width: 66px;
        height: 66px;
        background-color: var(--primary);

        &::before {
            position: absolute;
            content: "";
            left: 50%;
            transform: translatex(-50%);
            bottom: -9px;
            width: 14px;
            height: 10px;
            background-color: var(--primary);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 27px;
            height: 30px;
            transform: translate(-50%, -50%);
            background-image: url(../image/icon/logo-map.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;


        }

        cursor: pointer;
    }
}

.mapboxgl-ctrl-attrib a,
.mapboxgl-ctrl-attrib.mapboxgl-compact,
a.mapboxgl-ctrl-logo {
    display: none !important;
}


.mapboxgl-popup-content {
    padding: 16px;
    background-color: var(--white);

    .mapboxgl-popup-close-button {
        font-size: 30px;
        overflow: hidden;
        color: var(--on-suface-variant-1);
    }
}

.map-2 {
    max-width: 100%;
    height: 477px;

    .marker {
        &::before {
            content: '\e963';
            position: absolute;
            top: 0;
            left: 0;
            font-family: $fontIcon;
            color: var(--primary);
            font-size: 50px;
        }

        cursor: pointer;
    }
}