.swiper-slide-active {
    .fade-item-1 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
    }

    .fade-item-2 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0.8s;
    }

    .fade-item-3 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1s;
    }

    .fade-item-4 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.2s;
    }

    .fade-item-5 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.3s;
    }

    .fade-item-6 {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 1.4s;
    }
}

.page-title-home {
    .swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        width: 22px;
        height: 22px;
        position: relative;
        margin-right: 27px !important;
        @include transition3();

        &::after {
            position: absolute;
            background-color: transparent;
            border: 1px solid transparent;
            width: 22px;
            height: 22px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            @include transition3();
        }

        &::before {
            position: absolute;
            background-color: var(--black);
            width: 8px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            @include transition3();
        }

        &.swiper-pagination-bullet-active {
            background-color: var(--white);

            &::after {
                border-color: var(--line-8);
            }

            &::before {
                background-color: var(--primary);
            }
        }
    }

    &.h-3 {

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;

            &::after {
                display: none !important;
            }
        }

        .swiper-pagination-bullet-active {

            &::before {
                background-color: var(--white);
            }
        }

    }
}

.thumbs-page-title-home {
    .swiper-slide {
        max-width: max-content;

        .text {
            position: relative;
            padding-bottom: 10px;
            color: var(--white);

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: auto;
                width: 0;
                height: 2px;
                background-color: var(--brown);
                @include transition4();
            }
        }
    }

    .swiper-slide-thumb-active {
        .text {
            position: relative;

            &::before {
                left: auto;
                right: 0;
                width: 100%;
            }
        }
    }
}

.list-services-item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
    margin-top: -20px;
    padding-right: 20px;
    margin-right: -20px;
    max-width: 1236px;
    margin-left: 3px !important;

    &.list-services-item-2 {
        margin-left: auto !important;
        margin-right: 0 !important;
        padding-right: 0;
        margin-right: 0;
    }

    &.w-1570 {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 1600px;
    }
}

.no-loop {
    &.swiper-button-disabled {
        pointer-events: none;
        opacity: 0.4 !important;
    }
}

.sw-pagination {
    .swiper-pagination-bullet {
        background-color: transparent;
        opacity: 1;
        width: 22px;
        height: 22px;
        position: relative;
        margin-right: 13px !important;
        @include transition3();

        &::after {
            position: absolute;
            background-color: transparent;
            width: 22px;
            height: 22px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            @include transition3();
        }

        &::before {
            position: absolute;
            background-color: var(--color-bg-17);
            width: 8px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            z-index: 5;
            @include transition3();
        }

        &.swiper-pagination-bullet-active {
            background-color: var(--on-suface-container);

            &::after {
                border-color: var(--line-8);
            }

            &::before {
                background-color: var(--primary);
            }
        }
    }

    &.sw-pagination-team {
        text-align: center;
        margin-top: 57px;

        .swiper-pagination-bullet {
            &::before {
                background-color: var(--white);
            }

            &.swiper-pagination-bullet-active {
                &::before {
                    background-color: var(--primary);
                }
            }
        }
    }

    &.sw-pagination-testimonial {
        position: absolute;
        text-align: end;
        bottom: 6px;
        right: 0;

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin-right: 0 !important;
            margin-left: 34px !important;

            &::after {
                display: none;
            }
        }
    }

    &.style-small {
        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            margin-right: 34px !important;
            margin-left: 0;
            &::after {
                display: none;
            }
        }
    }
}

.list-blog {
    padding-top: 22px;
    margin-top: -20px;

}

.list-box-text {
    max-width: 770px;
    width: 100%;
    padding: 43px 50px 41px 44px;
    border-left: 5px solid var(--primary);
    position: relative;

    .image-item {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}