.wg-tab {
    overflow: auto;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        max-width: 100%;
        width: 100%;
        min-width: 820px;
        @include d-flex();
        align-items: center;
        justify-content: center;
        gap: 45px;
        border-bottom: 1px solid var(--line-4);
        position: relative;
        padding-left: 15px;
        padding-right: 15px;

        &::before {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 8px;
            height: 8px;
            background-color: var(--primary);
            z-index: 5;

        }

        &::after {
            content: "";
            position: absolute;
            bottom: -4px;
            right: 0;
            width: 8px;
            height: 8px;
            background-color: var(--primary);
            z-index: 5;

        }

        li {
            a {
                display: inline-block;
                color: var(--color-text-6);
                position: relative;
                padding-bottom: 17px;

                &::before {
                    content: '';
                    position: absolute;
                    left: auto;
                    right: 0;
                    height: 2px;
                    width: 0;
                    bottom: -1px;
                    background-color: var(--primary);
                    @include transition3();
                }

                &.active {
                    color: var(--secondary);

                    &::before {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }

            &:hover {
                a {
                    color: var(--secondary);

                    &::before {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.style-small {
        ul {
            gap: 31.5px;
            margin-bottom: 20px;

            li {
                a {
                    padding-bottom: 6px;

                }
            }
        }
    }

    &.style-2 {
        ul {
            width: 100%;
            min-width: max-content;
            border: none;
            justify-content: start;
            padding-left: 0;
            padding-right: 0;
            gap: 50px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            a {
                color: var(--color-text-3);

                &.active {
                    color: var(--white);
                }

                &:hover {
                    color: var(--white);
                }
            }
        }
    }

    &.style-3 {
        ul {
            justify-content: start;
            min-width: max-content;
            max-width: 869px;
            padding-left: 0;
            padding-right: 0;
            gap: 63px;

            &::before {
                display: none;
            }

            li {
                a {
                    letter-spacing: 0.8px;
                }
            }
        }
    }

    &.style-4 {
        ul {
            justify-content: start;
            min-width: max-content;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            gap: 44px;
            border-bottom-color: var(--color-text-2);

            &::before {
                display: none;
            }

            li {
                a {
                    letter-spacing: 0.24px;

                    &:hover {
                        color: var(--white);
                    }

                    &.active {
                        color: var(--white);
                    }
                }
            }
        }
    }

    &.style-column {
        padding-bottom: 0;
        overflow: visible;

        ul {
            border: 0;
            flex-direction: column;
            align-items: start;
            gap: 19px;
            padding-left: 0;
            padding-right: 0;

            &::before {
                display: none;
            }

            li {
                a {
                    color: var(--white);
                    font-size: 25px;
                    padding-bottom: 0;
                    letter-spacing: 2.5px;

                    &::before {
                        display: none;
                    }

                    &::after {
                        content: "\e904";
                        font-size: 20px;
                        font-family: $fontIcon;
                        position: absolute;
                        left: 0;
                        color: var(--primary);
                        opacity: 0;
                        visibility: hidden;
                        transform: translateX(-20px);
                        @include transition3();
                    }

                    &.active,
                    &:hover {
                        padding-left: 42px;
                        color: var(--primary);

                        &::after {
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }

    &.column-2 {
        background-color: var(--secondary);
        max-width: max-content;
        padding: 97px 0 70px;
        overflow: hidden;

        ul {
            gap: 23px;

            &::after,
            &::before {
                display: none;
            }

            li {
                a {
                    color: var(--color-text-3);
                    padding-bottom: 0;
                    font-size: 18px;
                    padding-left: 52px;
                    padding-right: 0;
                    letter-spacing: 0;

                    &::before {
                        display: none;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: var(--primary);
                    }

                    &.active,
                    &:hover {
                        padding-left: 52px;
                        color: var(--white);
                        font-size: 25px;

                        &::after {
                            content: "";
                            width: 27px;
                        }
                    }
                }
            }
        }
    }

    &.w-full {
        ul {
            max-width: 100%;
        }
    }

    &.style-5 {
        padding-bottom: 0;

        ul {
            justify-content: start;
            min-width: max-content;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
            gap: 0;
            border-bottom: 0;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            li {
                max-width: calc(100% / 3);
                width: 100%;
                text-align: center;

                a {
                    border: none;
                    padding: 10px 0;
                    color: var(--secondary);
                    background-color: var(--color-bg-15);
                    border-bottom: 1px solid var(--line-4);
                    border-right: 1px solid var(--line-4);
                    width: 100%;
                    z-index: 3;
                    &::before {
                        display: none;
                    }

                    &.active {
                        background-color: var(--white) !important;
                        border-bottom-color: var(--white) !important;
                    }
                }

                &:last-child {
                    a {
                        border-right: none;
                    }
                }
            }
        }
    }
}

.flat-animate-tab {
    overflow: hidden;

    &.style-row {
        @include d-flex();
        background-color: var(--white);
        padding: 40px;
        gap: 40px;

        .tab-content {
            max-width: calc(100% - 450px);

            .image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &.style-border {
        border: 1px solid var(--line-4);
    }
}

.tab-content {
    position: relative;

    .tab-pane {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
        transition-timing-function: ease-in;
        transition-duration: 0.2s;

        &.active {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 2;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
            transition-delay: 0.3s;
        }
    }

    p {
        color: var(--on-suface-variant-1);
    }

    &.style-border {
        margin-top: -1px;   
        border: 1px solid var(--line-4);
    }
}

.wrap-switch-tabs-content {
    .tabs-title {
        @include d-flex();
        align-items: center;
        gap: 20px;
        justify-content: center;

        .tab-title-text {
            color: var(--on-suface-variant-2);
            @include transition3();

            &.is-active {
                color: var(--on-suface-container);
            }
        }
    }

    .tabs-content-switch {
        position: relative;

        .tab-item {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transform: translateY(40px);
            @include transition5();

            &.is-active {
                position: relative;
                opacity: 1;
                visibility: visible;
                transform: none;
                z-index: 2;
                @include transition5();
            }
        }
    }
}

.widget-tabs-product-review {
    ul {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        min-width: unset;

        li {
            a {
                &::before {
                    background-color: var(--on-suface-container);
                }
            }
        }
    }
}