.testimonial-item {
    .text {
        padding-bottom: 37px;
        line-height: 32.5px;
        letter-spacing: 0.06px;
        padding-right: 10px;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: var(--line-4);
        position: relative;
        margin-bottom: 39px;

        &::before {
            content: "";
            position: absolute;
            top: -4px;
            right: 0;
            height: 8px;
            width: 8px;
            background-color: var(--primary);
        }
    }

    .rating {
        i {
            font-size: 17px;
        }
    }


    &.style-2 {
        background-color: var(--white);
        text-align: center;
        position: relative;
        padding: 77px 70px 41px 69px;
        width: 100%;

        .icon {
            width: 66px;
            height: 66px;
            background-color: var(--primary);
            @include flex(center, center);
            position: absolute;
            top: -28px;
            left: 50%;
            transform: translateX(-50%);

            &::before {
                position: absolute;
                content: "";
                left: 50%;
                transform: translatex(-50%);
                bottom: -9px;
                width: 14px;
                height: 10px;
                background-color: var(--primary);
                clip-path: polygon(50% 100%, 0 0, 100% 0);
            }

            i {
                font-size: 22px;
                color: var(--white);
            }
        }

        .title-testimonial {
            display: inline-block;
            margin-bottom: 12px;
            letter-spacing: 0.05px;
        }

        .desc {
            font-family: $font-main2;
            color: var(--color-text);
            margin-bottom: 76.5px;
            max-width: 803.33px;
            margin-left: auto;
            margin-right: auto;
        }

        .line {
            margin-bottom: 0;

            &::after {
                content: "";
                position: absolute;
                top: -4px;
                left: 0;
                height: 8px;
                width: 8px;
                background-color: var(--primary);
            }
        }

        .user-testimonial {
            margin-top: -35.5px;

            .image-avata {
                padding: 0 29px;
                max-width: 129px;
                background-color: var(--white)
            }
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            opacity: 0;
            background-color: var(--primary);
            @include transition3();
        }

    }

    &.style-color-white {
        .text {
            color: var(--color-text-2);
            padding-right: 0;
        }

        .user-testimonial {
            .title {
                color: var(--white);
            }

            .position {
                color: var(--color-text-3);
            }
        }

    }

    &.style-3 {
        .list-rating {
            margin-bottom: 27px;

            i {
                color: var(--primary);
                margin-right: -3px;
            }
        }

        .title-testimonial {
            margin-bottom: 19px;
            letter-spacing: -0.2px;
        }

        .text-testimonial {
            color: var(--color-text);
            letter-spacing: 0;
            padding-right: 0;
            padding-bottom: 37px;
        }

        .line {
            max-width: 484px;
            margin-bottom: 46px;

            &::before {
                top: -1.5px;
                left: 0;
                right: auto;
                height: 3px;
                width: 70px;
            }
        }
    }

    &.style-video {
        .top-item {
            position: relative;
            margin-bottom: 32px;

            .format-video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .popup-youtube {
                    .icon {
                        width: 62px;
                        height: 62px;
                    }
                }
            }

            .image {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .testimonial-content {
            .name {
                padding-right: 18px;
                letter-spacing: -0.15px;
            }

            .position {
                font-family: $font-main2;
                color: var(--color-text);
            }
        }
    }

    &.style-4 {
        @include d-flex();
        gap: 39px;

        .icon-testimonial {
            i {
                color: var(--primary);
                font-size: 32px;
            }
        }

        .text {
            color: var(--color-text);
            letter-spacing: 0.03px;
            padding-bottom: 29px;
        }

        .name {
            padding-right: 18px;
            letter-spacing: -0.15px;
        }

        .position {
            font-family: $font-main2;
            color: var(--color-text);
        }


    }

}

.user-testimonial {
    @include d-flex();
    align-items: center;
    flex-wrap: wrap;
    gap: 29px;

    .image-avata {
        max-width: 82px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
        }

        &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: -5px;
            width: 90%;
            height: 94%;
            background-color: var(--primary);
        }
    }

    .user-info {
        padding-top: 4px;

        .title {
            display: inline-block;
        }

        .position {
            font-family: $font-main2;
            color: var(--color-text);
        }
    }

    .user-icon {
        i {
            font-size: 39px;
            color: var(--primary);
        }
    }

    &.style-2 {
        flex-direction: column;
        gap: 18px;

        .image-avata {
            &::before {
                display: none;
            }
        }

    }
}


.list-testimonial {
    padding-left: 15px;
    margin-left: -15px;
    padding-bottom: 15px;
    margin-bottom: -15px;

}

.list-testimonial-h3 {
    padding-top: 50px;
    margin-top: -50px;

    .swiper-slide-active {
        .testimonial-item {
            &::before {
                opacity: 1;
            }
        }
    }
}